body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* img {
  max-width: 100%;
  max-height: 100%;
} */

.wrapperPhoto .load-img {
  cursor: pointer;
}

.load-img {
  width: 50px;
  height: 50px;
  margin-right: 6px;
  margin-top: 6px;
  cursor: zoom-in;
  object-fit: cover;
}
.overlay {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999;
  height: 100vh;
  width: 100vw;
  opacity: 1;
  background-color: rgba(50, 50, 200, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease-in;
  animation: fade 0.5s ease-in;
}
.hidden {
  opacity: 0;
}
.modal {
  max-width: 85%;
  overflow: hidden;
  position: relative;
}
.modal img {
  max-width: 100%;
}
.close {
  position: absolute !important;
  top: 10px;
  right: 10px;
}

.link {
  display: flex;
  align-items: center;
  color: #1da1f2;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.language {
  position: absolute;
  top: 25px;
  right: 25px;
  color: rgb(29, 161, 242);
  border: 1px solid rgb(29, 161, 242);
  border-radius: 8px;
}
.emoji-mart-preview-data {
  display: none;
}

.emoji-mart-preview-emoji {
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
.emoji-mart-preview-shortname {
  display: none;
}
.emoji-mart-preview-emoticons {
  display: none;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  text-align: center;
  padding: 0 20px;
}
.not-found__title {
  font-weight: 700 !important;
  font-size: 19px !important;
  line-height: 25px !important;
  color: #0f1419 !important;
  margin-bottom: 10px !important;
}
.not-found__info {
  font-size: 15px !important;
  line-height: 20px !important;
  color: #5b7083 !important;
}
.iconButton {
    transition: all 0.15s ease-in;
    padding: 6px !important;
}

.repost:hover {
  color: #32cd32;
}
.share:hover,
.commentBtn:hover {
  color: rgb(29, 161, 242);
}

.like:hover, .like.active {
  color: #e53935;
}

.tweetButtonCount {
  margin-left: 3px;
  font-size: 13px;
  color: rgb(91, 112, 131)
}

.MuiDialog-paper,.MuiDialogContent-root {
  overflow-y: inherit !important;
}


@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
